<div class="flex flex-col justify-center">
    <img src="hero.jpg" alt="hero">
    <div class="flex flex-col items-center text-center pt-8 text-md">
        <p class="font-medium text-wrap">
            Adéntrate en el corazón de Nápoles con Nike Field General, un clásico total y el lienzo perfecto para lucir tu
            estilo personal.
        </p>
        <button class="mt-4 px-6 py-2 bg-black text-white font-semibold rounded-full">
            Descubrir la colección
        </button>
    </div>

</div>