<div class="flex border-t-1 mt-20 border-gray-300 max-w-[90%] ml-18"></div>

<footer class="grid grid-cols-4 align-center justify-items-center mt-24 text-sm">
    <div class="text-gray-600 font-semibold flex gap-2 flex-col">
        <p class="font-semibold mb-8 text-black">Recursos</p>
        <p>Tarjetas de regalo</p>
        <p>Tarjetas de regaño corporativas</p>
        <p>Buscar una tienda</p>
        <p>Nike Journañ</p>
        <p>Hazte Member</p>
        <p>Descuento para estudiantes</p>
        <p>Comentarios</p>
        <p>Codigos promocionales</p>
    </div>
    <div class="text-gray-600 font-semibold flex gap-2 flex-col">
        <p class="font-semibold mb-8 text-black">Ayuda</p>
        <p>Obtener ayuda</p>
        <p>Estado del pedido</p>
        <p>Envios y entregas</p>
        <p>Devoluciones</p>
        <p>Opciones de pago</p>
        <p>Contacto</p>
        <p>Evaluaciones</p>
        <p>Ayuda con los códigos promocionales de Nike</p>
    </div>
    <div class="text-gray-600 font-semibold flex gap-2 flex-col">
        <p class="font-semibold mb-8 text-black">Empresa</p>
        <p>Acerca de Nike</p>
        <p>Novedades</p>
        <p>Empleo</p>
        <p>Inversores</p>
        <p>Sostenibilidad</p>
        <p>Propósito</p>
        <p>informar de un problema</p>
    </div>
    <div class="align-end">
        <p>España</p>
    </div>
</footer>