<div class="flex flex-col min-h-screen">
  <main class="flex-grow flex items-center justify-center">
    <div class="w-full max-w-md p-6 bg-white shadow-md rounded-lg">
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="space-y-4">
        <div>
          <label for="reference" class="block font-semibold mb-1">
            Referencia:
          </label>
          <input
            type="text"
            name="reference"
            formControlName="reference"
            class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-300"
          />
          <div class="flex flex-row gap-4">
            <button (click)="checkReference()" class="rounded-full bg-black text-white p-2 mt-2 text-xs">Buscar referencia</button>
            <button (click)="clearReference()" class="rounded-full bg-black text-white p-2 pl-4 pr-4 mt-2 text-xs">Limpiar</button>
            <button (click)="remove()" type="button" class="rounded-full bg-black text-white p-2 pl-4 pr-4 mt-2 text-xs">Eliminar</button>
          </div>
          @if(productForm.controls.reference.invalid &&
          productForm.controls.reference.touched) {
          <span class="text-red-500 absolute ml-4">El campo esta mal</span>
          }
          
          @if (foundProduct) {
          }

        </div>
        <div>
          <label for="productName" class="block font-semibold mb-1">
            Nombre del producto:
          </label>
          <input
            type="text"
            name="productName"
            formControlName="productName"
            class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-300"
          />
          @if(productForm.controls.productName.invalid &&
          productForm.controls.productName.touched) {
          <span class="text-red-500 absolute ml-4">El campo esta mal</span>
          }
        </div>
        <div>
          <label for="price" class="block font-semibold mb-1"> Precio: </label>
          <input
            type="number"
            name="productPrice"
            formControlName="productPrice"
            class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-300"
          />
          @if(productForm.controls.productPrice.invalid &&
          productForm.controls.productPrice.touched) {
          <span class="text-red-500 absolute ml-4">El campo esta mal</span>
          }
        </div>
        <div>
          <label for="description" class="block font-semibold mb-1">
            Descripción:
          </label>
          <input
            type="text"
            name="productDescription"
            formControlName="productDescription"
            class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-300"
          />
          @if(productForm.controls.productDescription.invalid &&
          productForm.controls.productDescription.touched) {
          <span class="text-red-500 absolute ml-4">El campo esta mal</span>
          }
        </div>
        <div>
          <label for="productType" class="block font-semibold mb-1">
            Tipo de producto:
          </label>
          <datalist id="productType">
            <select >
              <option value="DAILY">Diario</option>
              <option value="JORDAN">Jordan</option>
              <option value="RUNNING">Running</option>
              <option value="FUTBOL">Fútbol</option>
              <option value="BASKETBALL">Basketball</option>
              <option value="GYM">Gimnasio</option>
              <option value="SKATE">Skate</option>
            </select>
          </datalist>
          <input
            list="productType"
            name="productType"
            formControlName="productType"
            class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-300"
          />
          @if(productForm.controls.productType.invalid &&
          productForm.controls.productType.touched) {
          <span class="text-red-500 absolute ml-4">El campo esta mal</span>
          }
        </div>
        <div class="flex items-center">
          <label for="onSale" class="mr-2 font-semibold"> En oferta: </label>
          <input
            type="checkbox"
            name="onSale"
            formControlName="onSale"
            class=""
          />
        </div>
        <div>
          <label for="productImage" class="block font-semibold mb-1">
            Imagen:
          </label>
          <!-- Campo para seleccionar la imagen -->
          <label for="fileUpload">Subir Imagen:</label>
          <input id="fileUpload" type="file" (change)="onFileSelected($event)" accept="image/*">
          
          @if(productForm.controls.productImage.invalid &&
          productForm.controls.productImage.touched) {
          <span class="text-red-500 absolute ml-4">El campo esta mal</span>
          }
        </div>
        <div>
          <input
            type="submit"
            value="Agregar producto"
            [disabled]="productForm.invalid"
            class="w-full p-2 rounded-md cursor-pointer bg-blue-500 hover:bg-blue-600 disabled:bg-gray-400 disabled:cursor-not-allowed"
          />
        </div>
      </form>
    </div>
  </main>
</div>
