<div class="flex flex-col justify-items-center gap-8 pt-12">
    <div class="justify-items-center">
        <h4 class="justify-self-start ml-26 text-2xl pb-4 font-semibold">Lo mejor y más nuevo</h4>
        <div class="grid grid-cols-3 grid-rows-1 gap-4 max-w-[85%]">
            <img src="nike-united-pack.png" alt="" class="w-200">
            <img src="coleccion-nike-247.png" alt="" class="w-200">
            <img src="cosmic-runner.png" alt="" class="w-200">
            <h4 class="justify-self-start text-xl pb-4 font-medium">Nike United Pack</h4>
            <h4 class="justify-self-start  text-xl pb-4 font-medium">Colección Nike 24.7</h4>
            <h4 class="justify-self-start  text-xl pb-4 font-medium">Cosmic Runner</h4>
        </div>
    </div>
</div>